<?xml version="1.0" encoding="UTF-8"?>
<suite name="RandomUserTests" verbose="1">
    <test name="AmountOfGendersTest">
        <parameter name="amount" value="100"/>
        <classes>
            <class name="randomUserTests.RandomUserAPITest"/>
        </classes>
    </test>
    <test name="checkUserInFacebook">
        <classes>
            <class name="randomUserTests.RandomUserUITest"/>
        </classes>
    </test>
</suite>

